* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-size: cover;
    background-position: center;
    font-family: sans-serif
}

.menu-bar {
    height: 40px;
    background: #638977d0;
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;

}

.menu-bar ul li {
    width: 100px;
    margin: 10px;
    padding: 1px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #f4f409ef;
}

.active,
.menu-bar ul li:hover {
    background: #2bab0d;
    border-radius: 3px;

}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #055731d0;


}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 100px;
    padding: 0px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: rgb(246, 81, 26);
}

h1 {
    padding-top: 10px;
    text-align: center;
    color: #f3f3f5;
    background: #004e4e;
    margin-top: 15px;


}

table {
    padding-top: 15%;
    width: 100%;
    padding-left: ;
    
    
}

table,
th,
td {
    border: 1px solid rgb(245, 3, 3);
    padding-top: 10px;
    margin: 0px;
    text-align:center;
    border-collapse: collapse;
}
th, td {
    background-color: #f4c7dd;
  }
