body{
   / background-color: orange;
    
}
.container 
{
    
    width: 380px;
    height: 350px;
       text-align: center;
    margin-left: 40%;
    background-image: url(Login_Form.jpg);
  
}
.fname  
{
    width: 143px;
    height: 25px;
    border: 1px solid orange;
}
.lname  
{
    width: 143px;
    height: 25px;
    border: 1px solid orange;
}
.sinput
    {
        height: 25px ;
        width: 300px;
       border: 1px solid orange;
       margin-top: 12px;
    }

    input
    {
        margin-bottom: ;
    }

    .put button
    {
        height: 25px;
        width: 300px;
        background-color: #f0f8ff;
        font-size: 18px;
        margin-top: 20px;
         border: 1px solid orange;   
        cursor:pointer;
    } 
    .put :hover
    {
             
      
        background-color: rgb(182, 191, 19);
    }
.container h1
{
    margin-bottom: 30px;
    
}